<%- include('partials/header', { title: 'Tools To Go' }) %>

<div class="container">
    <% const services = [
        { title: "Tube To Go", description: "Tube To Go is the ultimate solution for converting YouTube videos to MP4 format.", img: "yt.png", colorClass: "red", textColor: "#C13E3E" },
        { title: "Tik To Go", description: "Tik To Go is the ultimate solution for converting TikTok videos to MP4 format.", img: "tk.png", colorClass: "black", textColor: "#292424" },
        { title: "MP3 To Go", description: "MP3 To Go is the ultimate solution for converting Audio files to MP3 format.", img: "mp3.png", colorClass: "green", textColor: "#1DB954" },
        { title: "Face To Go", description: "Face To Go is the ultimate solution for converting Facebook videos to MP4 format.", img: "fb.png", colorClass: "blue", textColor: "#4267B2" }
    ]; %>
    <% services.forEach(service => { %>
        <div class="card">
            <div class="text-section">
                <h1 style="color: <%= service.textColor %>;"><%= service.title.replace(" ", " ") %></h1>
                <% if (service.title === 'Tik To Go' || service.title === 'Face To Go' || service.title === 'MP3 To Go') { %>
                    <button class="more-button <%= service.colorClass %>" style="background-color: gray; color: white;">Soon</button>
                <% } else { %>
                    <button class="more-button <%= service.colorClass %>" onclick="convert('<%= service.title %>')">Convert</button>
                <% } %>
                <p><%= service.description %></p>
            </div>
            <div class="image-section <%= service.colorClass %>">
                <img src="/images/<%= service.img %>" alt="<%= service.title %>">
            </div>
        </div>
    <% }); %>
</div>
<%- include('partials/footer') %>
<script src="/js/script.js"></script>
